body{
    background-color: gray;
    background: url(../images/cat3.jpg);
}

.wrapper{
    max-width: 600px;
    margin: 0 auto;
}

.first{
    color: coral;
}

header,
footer
{
    text-align: center;
    background-color: darkorange;
    padding: 10px;
}

main{
    background-color: rgb(215, 238, 250);
    padding: 10px;
}

nav{
    background-color: chocolate;
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
}

nav a{
    background-color: blanchedalmond;
    padding: 2px;
    color: black;
    border-radius: 5px;
    transition: 1s;
}

nav a:hover{
        background: rgb(0, 162, 255)
}

